    /* HEADER */
  /* Menu CSS con prefijo menu- */
.menu-header {
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F5E6D3;
    z-index: 1000;
}

.menu-info-extra {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.menu-containerm {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.menu-containerm .menu-btn-menu,
.menu-logo {
    float: left;
}

.menu-logo img {
    width: 7vh;
}

.menu-containerm .menu-btn-menu label {
    color: #D4A437;
    font-size: 5vh;
    cursor: pointer;
}

.menu-containerm .menu-menu {
    float: right;
    line-height: 70px;
}

.menu-containerm .menu-menu a {
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    color: #A0522D;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    text-decoration: none;
    list-style: none;
}

.menu-container .menu-menu a:hover {
    border-bottom: 2px solid #87A96B;
    padding: 5px 10px;
}

#menu-btn-menu {
    display: none;
}

.menu-container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 10;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#menu-btn-menu:checked ~ .menu-container-menu {
    opacity: 1;
    visibility: visible;
}

.menu-cont-menu {
    width: 100%;
    position: relative;
    max-width: 250px;
    background: #F5E6D3;
    height: 100vh;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#menu-btn-menu:checked ~ .menu-container-menu .menu-cont-menu {
    transform: translateX(0%);
}

.menu-cont-menu nav {
    transform: translateY(15%);
}

.menu-cont-menu nav a {
    display: block;
    padding: 20px;
    color: #A0522D;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.menu-cont-menu a:hover {
    border-left: 5px solid #87A96B;
    background: #E6D8C5;
    color: #C47A6D;
}

.menu-cont-menu label {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #A0522D;
    cursor: pointer;
}


