/* Mile---- productos.html ------------------------------------------------------------------------------------------------------------- */

body {
    background-color: #F5E6D3;
}

.pc-contenido-principal {
    display: flex;
    flex-direction: column; /* fuerza columna para todo */
    align-items: center;    /* centra horizontalmente todo */
    padding: 80px 20px 20px 20px;
    gap: 30px;
}

/* Botones */
.pc-btn {
    font-family: 'Inter', sans-serif;
    padding: 1.1em 2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #4a210e;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 13px;
    background-color: #C47A6D;
    font-weight: bolder;
}

.pc-btn:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #D4A437;
    top: 30%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.6s;
}

.pc-btn:hover {
    background-color: #65854a;
    color: #fff;
}

.pc-btn:hover::before {
    transform: skewX(30deg) translate(220%, -50%);
    transition-delay: 0.2s;
}

.pc-btn:active {
    transform: scale(0.9);
}

/* Título */
.pc-titulodeproductos {
    font-family: 'Playfair Display', serif;
    font-weight: 1000;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #4a210e;
    margin: 0;

}

.pc-linea {
    flex-grow: 1;
    height: 2px;
    background: linear-gradient(to right, #A0522D, #C47A6D);
    border-radius: 1px;
}

/* Buscador */
.pc-buscador-header {
  display: flex;
  justify-content: center;

}

.pc-InputContainer {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 0 8px;
  height: 38px;
  width: 180px;
}

.pc-input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.9em;
  padding-left: 5px;
  color: #333;
}


.pc-labelforsearch {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pc-searchIcon {
  width: 18px;
  height: 18px;
  fill: #6b4e3a;
}

.pc-searchIcon path {
  fill: rgb(114, 114, 114);
}

.pc-nombreproductocard {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #4a210e;
}

.pc-precio {
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    line-height: 1.6;
    color: #A0522D;
}

.pc-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* centra las tarjetas */
    gap: 30px;
    width: 100%;
}

.pc-card .pc-btn {
    margin-top: 15px;
    margin-bottom: 10px;
}

.pc-card {
    width: 90%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 5px 5px 15px rgba(74, 33, 14, 0.4); /* marrón oscuro semi-transparente */
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
    transition: transform 0.5s, box-shadow 0.5s;
}

.pc-card:hover {
    box-shadow: 10px 10px 25px rgba(74, 33, 14, 0.5); /* sombra más intensa al pasar el mouse */
    transform: scale(1.1);
}

.pc-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .pc-productos {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
    }

    .pc-card {
        width: 28%;
    }
}

/* Lista desplegable de resultados */
.pc-lista-productos {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  max-height: 110px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
  z-index: 10;
}

.pc-lista-productos li {
  padding: 6px 10px;
  font-size: 0.85em;
  cursor: pointer;
}

.pc-lista-productos li:hover {
  background-color: #f4f1ef;
}


/* HEADER */
.pc-header {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F5E6D3;
    z-index: 1000;
}

.pc-containerm {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.pc-containerm .pc-btn-menu,
.pc-logo {
    float: left;
}

.pc-logo img {
    width: 7vh;
}

.pc-containerm .pc-btn-menu label {
    color: #D4A437;
    font-size: 5vh;
    cursor: pointer;
}

.pc-containerm .pc-menu {
    float: right;
    line-height: 70px;
}

.pc-containerm .pc-menu a {
    display: inline-block;
    padding: 15px 10px;
    line-height: normal;
    color: #A0522D;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    text-decoration: none;
}

.pc-containerm .pc-menu a:hover {
    border-bottom: 2px solid #87A96B;
    padding: 5px 10px;
}

#pc-btn-menu {
    display: none;
}

.pc-container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 10;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#pc-btn-menu:checked ~ .pc-container-menu {
    opacity: 1;
    visibility: visible;
}

.pc-cont-menu {
    width: 100%;
    position: relative;
    max-width: 250px;
    background: #F5E6D3;
    height: 100vh;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#pc-btn-menu:checked ~ .pc-container-menu .pc-cont-menu {
    transform: translateX(0%);
}

.pc-cont-menu nav {
    transform: translateY(15%);
}

.pc-cont-menu nav a {
    display: block;
    padding: 20px;
    color: #A0522D;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.pc-cont-menu nav a:hover {
    border-left: 5px solid #87A96B;
    background: #E6D8C5;
    color: #C47A6D;
}

.pc-cont-menu label {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #A0522D;
    cursor: pointer;
}

/* From Uiverse.io by javierBarroso */
.wrapper {
  --background: #62abff;
  --icon-color: #414856;
  --shape-color-01: #b8cbee;
  --shape-color-02: #7691e8;
  --shape-color-03: #fdd053;
  --width: 90px;
  --height: 90px;
  --border-radius: var(--height);
  width: var(--width);
  height: var(--height);
  position: relative;
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .btn {
  background: var(--background);
  width: var(--width);
  height: var(--height);
  position: relative;
  z-index: 3;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: plus-animation-reverse 0.5s ease-out forwards;
  animation: plus-animation-reverse 0.5s ease-out forwards;
}
.wrapper .btn::before,
.wrapper .btn::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4px;
  background: #fff;
}
.wrapper .btn::before {
  width: 4px;
  height: 28px;
}
.wrapper .btn::after {
  width: 28px;
  height: 4px;
}
.wrapper .tooltip {
  width: fit-content;
  height: 75px;
  border-radius: 70px;
  position: absolute;
  background: #fff;
  z-index: 2;
  padding: 20px 35px;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  opacity: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: opacity 0.15s ease-in, top 0.15s ease-in, width 0.15s ease-in;
}
.wrapper .tooltip > span {
  position: relative;
  width: 100%;
  white-space: nowrap;
  opacity: 0;
}
.wrapper .tooltip > svg {
  width: 100%;
  height: 26px;
  display: block;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.wrapper .tooltip > svg .icon {
  fill: none;
  stroke: var(--icon-color);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.wrapper .tooltip > svg:hover .icon {
  opacity: 1;
}
.wrapper .tooltip::after {
  content: "";
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  bottom: -8px;
  transform: rotate(45deg);
  z-index: 0;
}
.wrapper > svg {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1;
  transform: scale(0);
}
.wrapper > svg .shape {
  fill: none;
  stroke: none;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform-origin: 50% 20%;
}
.wrapper input {
  height: 100%;
  width: 100%;
  border-radius: var(--border-radius);
  cursor: pointer;
  position: absolute;
  z-index: 5;
  opacity: 0;
}
.wrapper input:checked ~ svg {
  -webkit-animation: pang-animation 1.2s ease-out forwards;
  animation: pang-animation 1.2s ease-out forwards;
}
.wrapper input:checked ~ svg .shape:nth-of-type(1) {
  transform: translate(25px, 30%) rotate(40deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(2) {
  transform: translate(-4px, 30%) rotate(80deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(3) {
  transform: translate(12px, 30%) rotate(120deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(4) {
  transform: translate(8px, 30%) rotate(160deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(5) {
  transform: translate(21px, 30%) rotate(200deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(6) {
  transform: translate(0px, 30%) rotate(240deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(7) {
  transform: translate(17px, 30%) rotate(280deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(8) {
  transform: translate(-3px, 30%) rotate(320deg);
}
.wrapper input:checked ~ svg .shape:nth-of-type(9) {
  transform: translate(25px, 30%) rotate(360deg);
}
.wrapper input:checked ~ .btn {
  -webkit-animation: plus-animation 0.5s ease-out forwards;
  animation: plus-animation 0.5s ease-out forwards;
}
.wrapper input:checked ~ .tooltip {
  width: fit-content;
  padding: 30px;
  -webkit-animation: stretch-animation 1s ease-out forwards 0.15s;
  animation: stretch-animation 1s ease-out forwards 0.15s;
  top: -90px;
  opacity: 1;
}

.wrapper input:checked ~ .tooltip > span {
  opacity: 1;
}

@-webkit-keyframes pang-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}

@keyframes pang-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
@-webkit-keyframes plus-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@keyframes plus-animation {
  0% {
    transform: rotate(0) scale(1);
  }
  20% {
    transform: rotate(60deg) scale(0.93);
  }
  55% {
    transform: rotate(35deg) scale(0.97);
  }
  80% {
    transform: rotate(48deg) scale(0.94);
  }
  100% {
    transform: rotate(45deg) scale(0.95);
  }
}
@-webkit-keyframes plus-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@keyframes plus-animation-reverse {
  0% {
    transform: rotate(45deg) scale(0.95);
  }
  20% {
    transform: rotate(-15deg);
  }
  55% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0) scale(1);
  }
}
@-webkit-keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes stretch-animation {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 0.9);
  }
  30% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

.socials {
  position: fixed;
  display: block;
  left: 20px;
  bottom: 20px;
}
.socials > a {
  display: block;
  width: 30px;
  opacity: 0.2;
  transform: scale(var(--scale, 0.8));
  transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
.socials > a:hover {
  --scale: 1;
}


